<!--BLOG AREA-->
<section class="blog-area blog-page section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div class="single-blog wow fadeIn">
                    <div class="blog-image">
                        <img src="~/img/blog/blog_7.jpg" alt="">
                    </div>
                    <div class="blog-details">
                        <div class="blog-meta"><a href="#"><i class="fa fa-ship"></i></a></div>
                        <h3><a href="single-blog.html">Quick Transportation Service in the world</a></h3>
                        <div class="post-date"><a href="#"><i class="fa fa-calendar"></i>20 January, 2015</a></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        <a href="single-blog.html" class="read-more">Read More</a>
                    </div>
                </div>
                <div class="single-blog wow fadeIn">
                    <div class="blog-image">
                        <img src="~/img/blog/blog_8.jpg" alt="">
                    </div>
                    <div class="blog-details">
                        <div class="blog-meta"><a href="#"><i class="fa fa-ship"></i></a></div>
                        <h3><a href="single-blog.html">Quick Transportation Service in the world</a></h3>
                        <div class="post-date"><a href="#"><i class="fa fa-calendar"></i>20 January, 2015</a></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        <a href="single-blog.html" class="read-more">Read More</a>
                    </div>
                </div>
                <div class="single-blog wow fadeIn">
                    <div class="blog-image">
                        <img src="~/img/blog/blog_9.jpg" alt="">
                    </div>
                    <div class="blog-details">
                        <div class="blog-meta"><a href="#"><i class="fa fa-ship"></i></a></div>
                        <h3><a href="single-blog.html">Quick Transportation Service in the world</a></h3>
                        <div class="post-date"><a href="#"><i class="fa fa-calendar"></i>20 January, 2015</a></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        <a href="single-blog.html" class="read-more">Read More</a>
                    </div>
                </div>
                <div class="single-blog wow fadeIn">
                    <div class="blog-image">
                        <img src="~/img/blog/blog_10.jpg" alt="">
                    </div>
                    <div class="blog-details">
                        <div class="blog-meta"><a href="#"><i class="fa fa-ship"></i></a></div>
                        <h3><a href="single-blog.html">Quick Transportation Service in the world</a></h3>
                        <div class="post-date"><a href="#"><i class="fa fa-calendar"></i>20 January, 2015</a></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,</p>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
                        <a href="single-blog.html" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="sidebar-area wow fadeIn">
                    <div class="single-sidebar-widget widget_search">
                        <h4>Search</h4>
                        <form action="#">
                            <input type="text" name="s" id="s" placeholder="Search Here...">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="single-sidebar-widget widget_categories">
                        <h4>Categories</h4>
                        <ul>
                            <li><a href="#">Road Freight</a></li>
                            <li><a href="#">Air Freight</a></li>
                            <li><a href="#">Sea Freight</a></li>
                            <li><a href="#">Ware House Freight</a></li>
                            <li><a href="#">Rail Freight</a></li>
                        </ul>
                    </div>
                    <div class="single-sidebar-widget widget_recent_entries">
                        <h4>Latest Post</h4>
                        <ul>
                            <li>
                                <div class="alignleft"><img src="~/img/blog/thumb-1.jpg" alt=""></div>
                                <a href="#">2016 Latest News From Logistics Transportation Service.</a>
                            </li>
                            <li>
                                <div class="alignleft"><img src="~/img/blog/thumb-2.jpg" alt=""></div>
                                <a href="#">2016 Latest News From Logistics Cargo Service.</a>
                            </li>
                            <li>
                                <div class="alignleft"><img src="~/img/blog/thumb-3.jpg" alt=""></div>
                                <a href="#">2016 Latest News From Logistics Transportation Service.</a>
                            </li>
                            <li>
                                <div class="alignleft"><img src="~/img/blog/thumb-4.jpg" alt=""></div>
                                <a href="#">2016 Latest News From Logistics Cargo Service.</a>
                            </li>
                        </ul>
                    </div>
                    <div class="single-sidebar-widget widget_tag_cloud">
                        <h4>Pupular Tags</h4>
                        <div class="tagcloud">
                            <a href="#">Design</a>
                            <a href="#">Transport</a>
                            <a href="#">Cargo</a>
                            <a href="#">Freight</a>
                            <a href="#">Logistic</a>
                            <a href="#">Truck</a>
                            <a href="#">Shipping</a>
                            <a href="#">ware house</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <ul class="pagination">
                    <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--BLOG AREA END-->