<!--SERVICE AREA-->
<section class="service-area-two section-padding gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                <div class="area-title text-center wow fadeIn">
                    <h2>Our Service</h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="service-content wow fadeIn">
                    <h2>we offer quick & powerful logistics solution</h2>
                    <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you.</p>
                    <a href="service.html" class="read-more">Learn More</a>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div class="service-two-content wow fadeIn">
                    <div class="row no-margin">
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                            <div class="single-service-two border">
                                <div class="service-icon-two"><i class="fa fa-truck"></i></div>
                                <h4>road freight</h4>
                                <p>Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                            <div class="single-service-two border-top border-bottom border-right">
                                <div class="service-icon-two"><i class="fa fa-plane"></i></div>
                                <h4>air freight</h4>
                                <p>Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                            <div class="single-service-two border-left border-right border-bottom">
                                <div class="service-icon-two"><i class="fa fa-ship"></i></div>
                                <h4>sea freight</h4>
                                <p>Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                            <div class="single-service-two border-right border-bottom">
                                <div class="service-icon-two"><i class="fa fa-dropbox"></i></div>
                                <h4>ware house</h4>
                                <p>Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                            <div class="single-service-two border-left border-right border-bottom">
                                <div class="service-icon-two"><i class="fa fa-cog"></i></div>
                                <h4>consulting</h4>
                                <p>Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 no-padding">
                            <div class="single-service-two border-right border-bottom">
                                <div class="service-icon-two"><i class="fa fa-bicycle"></i></div>
                                <h4>fast delevary</h4>
                                <p>Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--SERVICE AREA END-->
<!--PROMO AREA-->
<section class="promo-area">
    <div class="promo-bottom-area section-padding">
        <div class="promo-botton-area-bg" data-stellar-background-ratio="0.6"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 col-sm-12 col-xs-12 text-center">
                    <div class="promo-bottom-content wow fadeIn">
                        <h2>we provide international freight &amp; logistics service worldwidw</h2>
                        <a href="#" class="read-more">Get a quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--PROMO AREA END-->
<!--BLOG AREA-->
<section class="blog-area gray-bg section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                <div class="area-title text-center wow fadeIn">
                    <h2>Latest Blog</h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="single-blog wow fadeInUp" data-wow-delay="0.2s">
                    <div class="blog-image">
                        <img src="~/img/blog/blog_1.jpg" alt="">
                    </div>
                    <div class="blog-details text-center">
                        <div class="blog-meta"><a href="#"><i class="fa fa-ship"></i></a></div>
                        <h3><a href="single-blog.html">Ocean Freight</a></h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout..</p>
                        <a href="single-blog.html" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                <div class="single-blog wow fadeInUp" data-wow-delay="0.3s">
                    <div class="blog-image">
                        <img src="~/img/blog/blog_2.jpg" alt="">
                    </div>
                    <div class="blog-details text-center">
                        <div class="blog-meta"><a href="#"><i class="fa fa-plane"></i></a></div>
                        <h3><a href="single-blog.html">Air Freight</a></h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout..</p>
                        <a href="single-blog.html" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                <div class="single-blog wow fadeInUp" data-wow-delay="0.4s">
                    <div class="blog-image">
                        <img src="~/img/blog/blog_3.jpg" alt="">
                    </div>
                    <div class="blog-details text-center">
                        <div class="blog-meta"><a href="#"><i class="fa fa-truck"></i></a></div>
                        <h3><a href="single-blog.html">Street Freight</a></h3>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout..</p>
                        <a href="single-blog.html" class="read-more">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BLOG AREA END-->
<!--TESTMONIAL AREA -->
<section class="testmonial-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 col-sm-12 col-xs-12">
                <div class="area-title text-center wow fadeIn">
                    <h2>what client’s say</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
                <div class="client-photo-list wow fadeIn">
                    <div class="client_photo">
                        <div class="item">
                            <img src="~/img/testmonial/1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/img/testmonial/2.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/img/testmonial/3.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/img/testmonial/1.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="~/img/testmonial/2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="client_nav">
                    <span class="fa fa-angle-left testi_prev"></span>
                    <span class="fa fa-angle-right testi_next"></span>
                </div>
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
                <div class="client-details-content wow fadeIn">
                    <div class="client_details">
                        <div class="item">
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                        <div class="item">
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                        <div class="item">
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                        <div class="item">
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                        <div class="item">
                            <q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </q>
                            <h3>JABIN KANE</h3>
                            <p>CEO, TOPSMMPANEL.COM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--TESTMONIAL AREA END -->